.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  max-height: 60vh;
  max-width: 60vw;
  margin: auto;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row img {
  height: 10vh;
  width: auto;
  margin: 0 15px 15px 0;
}

.videoWrapper {
  position: relative;

  /* 16:9 */
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#imgFrame {
    position: absolute;
    top: -60px;
    left: -60px;
    right: -60px;
    bottom: -60px;
    pointer-events: none;
    background-color: white;
}



.mailtable {
  font-size: 20px;
  line-height: 25px;
}

 .colfrom {
  width: 1px;
  padding-right: 8px;
  text-align: left;
  font-weight: 200;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

 .colsubj {
  white-space: nowrap;
  font-size: 20px;
  text-align: left;
}

 .coldt {
  width: 1px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
}

.coltm { 
  width: 1px;
  white-space: nowrap;
  font-weight; 300;
  font-size: 20px;
  text-align: right;
}
